body,
#container {
    background-color: white;
    width: 80%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0;
    margin: 0 auto;
    color: royalblue;
    display: flex;
    align-items: center;
    text-align: center;
}

header {
    height: 10%;
    background-color: white;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin-inside: 35px;
    /*border-style: solid;*/
    margin-outside: 50px;

}

#container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article {
    background-color: white;
    flex: 1;
    text-align: center;
    border-style: solid;
}

article div {
    float: left;
    overflow: auto;
    width: 50%;
    font-family: 'Roboto', sans-serif;
}

#infotext {
    vertical-align: middle;
}

#mess {
    font-family: 'Poiret One', cursives;
    padding: 2em;
    font-size: 2em;
}

#img1 {
    width: 50%;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 4em;
    margin: 60px;
    text-align: center;
}

button {
    background: #3498db;
    /*border-radius: 28px;*/
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #3498db 0px;
    text-decoration: none;
    padding: 2em;
}

img {
    margin: 25px;
}