body {
    background: url("../img/backgroundimg.jpg") no-repeat center center fixed;
}

#container {
    background: #FFF;
    color: royalblue;

    position: absolute;

    width: 80%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    padding: 0;
    margin: 0 auto;
    display: flex;

    align-items: center;
    text-align: center;
}

header {
    height: 10%;
    background-color: white;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 1em;
    margin-inside: 35px;
    /*border-style: solid;*/
    margin-outside: 50px;

}

#container {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

article {
    background-color: white;
    flex: 1;
    text-align: center;
    border-style: solid;
}

article div {
    float: left;
    overflow: auto;
    width: 50%;
    font-family: 'Roboto', sans-serif;
}

#infotext {
    vertical-align: middle;
}

#mess {
    font-family: 'Poiret One', cursives;
    padding: 2em;
    font-size: 2em;
}

#img1 {
    width: 50%;
}

h1 {
    font-family: 'Poiret One', cursive;
    font-size: 4em;
    margin: 60px;
    text-align: center;
}

button {
    background: #3498db;
    /*border-radius: 28px;*/
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: solid #3498db 0px;
    text-decoration: none;
    padding: 2em;
}

img {
    margin: 25px;
}

/*  SECTIONS  */
.section {
    clear: both;
    padding: 0px;
    margin: 0px;
}

/*  COLUMN SETUP  */
.col {
    display: block;
    float:left;
    margin: 1% 0 1% 1%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }

/*  GRID OF FIVE  */
.span_5_of_5 {
    width: 100%;
}
.span_4_of_5 {
    width: 79.8%;
}
.span_3_of_5 {
    width: 59.6%;
}
.span_2_of_5 {
    color: black;
    width: 15.5%;
    height: 5%;
    border: 1px solid black;
}
.span_1_of_5 {
    color: black;
    width: 15.5%;
    height: 12%;
    border: 1px solid black;
}

/*  GO FULL WIDTH BELOW 480 PIXELS */
@media only screen and (max-width: 480px) {
    .col {  margin: 1% 0 1% 0%; }
    .span_1_of_5, .span_2_of_5, .span_3_of_5, .span_4_of_5, .span_5_of_5 { width: 100%; }
}

#avgicon {
    height: 50%;
    width: 50%;
    position: relative;
    margin: 0 auto;
    padding: 0;
}

#image {
    position:relative;
    margin: 0;
    padding: 0;
}

#text {
    font-weight: bold;
    color: #FFFF00;
    text-shadow: 1px 1px #000, -0.5px -0.5px #FFF;

    position:relative;
    margin: 0;
    padding: 0;

    top: -40px;
}

.forecast {
    background: #FFF;
}
