<!DOCTYPE html>

<html>

<img src="logotyp/MyForecast (6).png"/>


<link href='/css/login.css' rel='stylesheet' type='text/css'/>
<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,700' rel='stylesheet' type='text/css'/>
<link rel="import" href="https://www.polymer-project.org/0.5/components/paper-ripple/paper-ripple.html"/>

<div class="container">
    <div class="profile">
        <button class="profile__avatar" id="toggleProfile">
            <img src="loginimg/drawing_for_my_friend___badass_potato_by_tirish-d4mnpat.png" alt="Avatar" />
        </button>
        <form action="login" method="post">
        <div class="profile__form">
            <div class="profile__fields">
                <div class="field">
                    <input name="username" type="text" id="fieldUser" class="input" required="required" pattern=".*\S.*" />
                    <label for="fieldUser" class="label">Username</label>
                </div>
                <div class="field">
                    <input name="password" type="password" id="fieldPassword" class="input" required="required" pattern=".*\S.*" />
                    <label for="fieldPassword" class="label">Password</label>
                </div>
                <div class="profile__footer">
                    <div class="button raised blue">
                        <!--<div class="center" fit="fit">LOGIN</div>-->
                        <paper-ripple fit="fit"></paper-ripple>
                        <input id="loginb" type="submit" value="Login"/>
                    </div>
                </div>
            </div>
        </div>
        </form>

    </div>
</div>

<script src="js/testlogin.js"></script>


</html>





















<!--<html>-->
<!--<head>-->
    <!--<meta charset="UTF-8"/>-->
    <!--<title>Login</title>-->
<!--</head>-->
<!--<body>-->
<!--<form action="login" method="post">-->
    <!--Username: <input name="username" type="text"/>-->
    <!--Password: <input name="password" type="password"/>-->
    <!--<input type="submit" value="Login"/>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->