<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>statistics</title>
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"/>
    <link rel="stylesheet" href="css/styles.css" type="text/css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</head>
<body>
<a href="/logout"> <i class="fa fa-cloud"></i></a>
<img id="logotype" src="logotyp/MyForecast (6) (1).png"/>
<h1>Statistics over MyForecast users</h1>
<table>
    <tr>
        <th>City</th>
        <th>Quantity</th>
    </tr>
    <tr th:each="Log : ${Logs}">
        <td th:text="${Log.CityName}"/>
        <td th:text="${Log.DUPES}"/>
    </tr>
</table>
</body>
</html>